<main>
  <div class="container mx-auto px-4 sm:px-0">
    <h1 class="font-bold text-4xl">Login</h1>

    <form [formGroup]="form" (submit.prevent)="onSubmitForm()" class="flex flex-col gap-4">
      <div class="flex flex-col">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          name="username"
          class="appearance-none bg-transparent rounded-md border border-zinc-300 px-3 py-1 dark:border-zinc-700 dark:bg-zinc-900 max-w-[20rem] focus:outline-0"
          autocomplete="username"
        />
      </div>

      <div class="flex flex-col">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          name="password"
          class="appearance-none bg-transparent rounded-md border border-zinc-300 px-3 py-1 dark:border-zinc-700 dark:bg-zinc-900 max-w-[20rem] focus:outline-0"
          autocomplete="current-password"
        />
      </div>

      <button
        type="submit"
        class="w-fit rounded-md bg-indigo-700 hover:bg-indigo-600 px-3 py-1 text-zinc-200 disabled:cursor-not-allowed disabled:bg-zinc-500"
      >
        Submit
      </button>
    </form>
  </div>
</main>
