:root {
    /* From https://t.me/alexnozer_dev/56 */
    --sb: calc(100vw - 100%);
    --vw: calc(100vw - var(--sb));
    color-scheme: light dark;
    --primary-color: #8870FF;
    --text-color: light-dark(#222222, #d9d9d9);
    --bg-color: light-dark(#ffffff, #131313);
    scroll-behavior: smooth;
}

.container {
    /* from https://t.me/alexnozer_dev/203 */
    --container-max-width: 120ch;
    --container-min-field: 16px;
    --container-field: calc(
        (var(--vw) - var(--container-max-width)) / 2
    );

    width: 100%;
    padding-inline: 1rem;
}

@media screen and (width >= 40rem) {
    .container {
        padding-inline: max(
            var(--container-field),
            var(--container-min-field)
        );
    }
}

h1, h2,
h3, h4 {
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    font-family: "IBM Plex Serif", serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

code, pre {
    font-family: "IBM Plex Mono", monospace;
    tab-size: 4;
}

li p {
    margin: 0;
}

pre {
    line-height: 1.3;
    padding-block: 1rem;
    border-radius: 0.5rem;
    counter-reset: step;
    counter-increment: step 0;
    font-size: 0.9em;
}

/*.line::before {
    content: counter(step);
    counter-increment: step;
    position: absolute;
    display: block;
    translate: -150%;
    opacity: 0.5;
    font-variant-numeric: tabular-nums;
}

.line {
    padding-inline-start: 2rem;
    position: relative;
    display: inline-block;
    min-height: 1em;
    width: 100%;
    padding-inline: 3rem 1rem;
}*/

.line {
    display: inline-block;
    min-height: 1em;
    width: 100%;
    padding-inline: 1rem;
}

.line.highlighted {
    background-color: light-dark(#ffffff1c, #ffffff1c);
}

a {
    text-decoration: underline;
    color:inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.astro-code {
    background-color: #eee !important;
}

@media (prefers-color-scheme: dark) {
    .astro-code {
        background-color: var(--shiki-dark-bg) !important;
    }

    .astro-code,
    .astro-code span:not(.line) {
        color: var(--shiki-dark) !important;
        /* Optional, if you also want font styles */
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
}
