<header class="container">
    <div>
        <a href="/"><img src="/logo.svg" class="logo"></a>
    </div>

    <nav>
        <ul>
            <li><a href="/about">Обо мне</a></li>
        </ul>
    </nav>

    <div>
        <a href="/rss" target="_blank">
            <img src="https://api.iconify.design/lucide:rss.svg">
        </a>
        <button type="button">
            <img src="https://api.iconify.design/lucide:search.svg">
        </button>
    </div>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding-block: 2rem;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 0.5rem;
    }

    .logo {
        width: 2rem;
        height: 2rem;
    }
</style>
